In [1]:
import pandas as pd

# Carregar o dataset

In [2]:
df = pd.read_csv('../data/dados_limpos.csv')

# Visualizar as 5 primeiras linhas

In [3]:
df.head()

,Data,Produto,Categoria,Quantidade,Preco_Unitario,Cliente,Regiao,Forma_Pagamento,Valor_Total
0,2024-01-05,Notebook Gamer XP15,Eletrônicos,1,4500.00,Ana Silva,Sudeste,Cartão de Crédito,4500.00
1,2024-01-05,Mouse Óptico Z4,Acessórios,3,45.99,Bruno Costa,Nordeste,PIX,137.97
2,2024-01-06,Cafeteira Expresso 1.5L,Eletrodomésticos,1,399.90,Carlos Santos,Sul,Cartão de Crédito,399.90
3,2024-01-06,Fone Bluetooth X9,Eletrônicos,2,129.50,Daniela Oliveira,Centro-Oeste,Boleto,259.00
4,2024-01-07,Teclado Mecânico RGB,Acessórios,1,289.90,Eduardo Pereira,Sudeste,PIX,289.90

# Informações Gerais: Tipos de dados, valores não nulos

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data             54 non-null     object
 1   Produto          54 non-null     object
 2   Categoria        54 non-null     object
 3   Quantidade       54 non-null     int64
 4   Preco_Unitario   54 non-null     float64
 5   Cliente          54 non-null     object
 6   Regiao           54 non-null     object
 7   Forma_Pagamento  54 non-null     object
 8   Valor_Total      54 non-null     float64
dtypes: float64(2), int64(1), object(6)
memory usage: 3.9+ KB

# Dimensões do dataset

In [8]:
print(f"\n Dimensões do dataset: {df.shape[0]} linhas e {df.shape[1]} colunas.")

 Dimensões do dataset: 54 linhas e 9 colunas.

# Estatísticas descritivas das variáveis numéricas

In [9]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Quantidade,54.0,1.555556,0.945030,1.00,1.0,1.00,2.0,5.0
Preco_Unitario,54.0,1219.015556,1646.260629,45.99,129.5,254.95,2800.0,4500.0
Valor_Total,54.0,1299.506481,1602.326864,45.99,180.0,399.90,2800.0,4500.0